<div id="primary-menu">
    <nav>
        <ul id="main-menu">
            <li><a href="#"><div>Únete</div><span>¿Dónde empezar?</span></a>
                <ul>
                    <li><a href="/conocimientos"><div>¿Qué necesito saber?</div></a></li>
                    <li><a href="/requerimientos"><div>¿Qué necesito tener?</div></a></li>
                </ul>
            </li>
            <li><div>Proyectos</div><span>Software Libre</span>
                <ul>
                    <li><a href="/Cuidado/"><div>Cuidado</div></a></li>
                    <li><a href="/Educando/"><div>Educando</div></a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
