<div id="primary-menu">
    <nav>
        <ul id="main-menu">
            <li><a href="#"><div>Únete</div><span>¿Dónde empezar?</span></a>
                <ul>
                    <li><a href="/"><div>Requisitos</div></a></li>
                    <li><a href="/"><div>Educando</div></a></li>
                </ul>
            </li>
            <li><a href="#"><div>Proyectos</div><span>Software Libre</span></a>
                <ul>
                    <li><a href="/Cuidado/"><div>Cuidado</div></a></li>
                    <li><a href="/Educando/"><div>Educando</div></a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
