
<div class="promo clearfix">
    <div class="promo-desc">
        <h3>Nuestra intención es que <span>Coderic Development Team</span> sea desde un principio una comunidad de práctica y aprendizaje para todos nosotros</h3>
        <span>A través de esta comunidad estaremos desarrollando Software Libre de Código Abierto Bajo Licencias GPL3 y MIT. Con el fin de proveer a nuestras comunidades herramientas útiles que proporcionen un aporte a su desarrollo organizativo.</span>
    </div>
    <div class="promo-action"><a href="https://github.com/CodericDev/">Únete</a></div>
</div>
